.collapse-closed,
.collapse-opened {
    max-width: 1023px;
    width: 100%;
    transition: all 500ms;
}

.collapse-closed {
    overflow: hidden;
}

.collapse-header {
    background-color: var(--main-bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: clamp(0.8125rem, 0.7492rem + 0.3165vw, 1.125rem);
        color: white;
    }

    img {
        transition: transform 500ms;
        cursor: pointer;
    }

    .arrow-down {
        transform: rotate(-180deg);
    }
}

.collapse-content {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    overflow: hidden;
    // transform: translateY(-160%);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 500ms ease-in-out;
    opacity: 0;
    max-height: 0;

    &.open {
        // transform: translateY(0);
        opacity: 1;
        transform: scaleY(1);
        max-height: 100%;
        margin-bottom: 30px;
    }

    & > * {
        overflow: hidden;
    }

    p,
    .equipments-list {
        font-size: clamp(0.875rem, 0.8244rem + 0.2532vw, 1.125rem);
    }
}

.collapses-container {
    display: flex;
    gap: 40px;

    @media (max-width: 425px) {
        flex-direction: column;
        gap: 0;
    }
}

.description,
.equipments {
    width: 50%;

    @media (max-width: 425px) {
        width: 100%;
    }

    .collapse-closed,
    .collapse-opened {
        width: 100%;
    }
}