.collapse-closed,
.collapse-opened {
    max-width: 1023px;
    width: 100%;
    margin-bottom: 30px;
    transition: all 500ms;
}

.collapse-header {
    background-color: var(--main-bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 24px;
        color: white;
    }

    img {
        transition: transform 500ms;
        cursor: pointer;
    }

    .arrow-down {
        transform: rotate(-180deg);
    }
}

.collapse-content {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    // transform: translateY(-10px);

    .equipments-list {
        font-size: 18px;
    }
}

.collapses-container {
    display: flex;
    gap: 40px;
}

.description,
.equipments {
    width: 50%;

    .collapse-closed,
    .collapse-opened {
        width: 100%;
    }
}