.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: var(--secondary-bg-color);
    padding: 60px;
    border-radius: 20px;
    margin-bottom: 50px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        background-color: transparent;
    }

    @media (max-width: 465px) {
        grid-template-columns: 1fr;
    }
}