nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 30px auto;
    padding-left: 20px;
    padding-right: 20px;



    .header-logo {
        width: clamp(6.875rem, 5.625rem + 6.25vw, 13.125rem);
    }

    ul {
        flex-direction: row;
        display: flex;
        gap: 30px;
    }

    .nav-link {
        font-size: clamp(0.75rem, 0.5981rem + 0.7595vw, 1.5rem);
        font-weight: 500;
        position: relative;

        @media (max-width: 768px) {
            text-transform: uppercase;
        }

        &::after {
            content: "";
            // display: block;
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 100%;
            height: 1px;
            background-color: black;
            transform: scale(0);
            transform-origin: right;
            transition: transform 400ms ease-in-out;
        }

        &:hover,
        &.active {
            &::after {
                transform: scale(1);
                transform-origin: left;
            }
        }
    }
}