* {
    // font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

// :root {
//     --main-color: #0065FC;
//     --main-bg-color: #F2F2F2;
//     --filter-bg-color: #DEEBFF;
//     --filter-border-color: #D9D9D9;
//     --white-bg-color: white;
// }

// body {
//     margin: auto;
//     display: flex;
//     justify-content: center;
// }

li {
    list-style: none;
}