* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

// :root {
//     --main-color: #0065FC;
//     --main-bg-color: #F2F2F2;
//     --filter-bg-color: #DEEBFF;
//     --filter-border-color: #D9D9D9;
//     --white-bg-color: white;
// }

body {
    margin: auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1240px;
}

li {
    list-style: none;
}

p, a, ul {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 18px;
    color: white;
}